.button {
    -fx-text-fill: white;
    -fx-font-size: 20pt;
    -fx-background-color: #271132;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
}

.button:focused
{
    -fx-border-color: white;
    -fx-border-width: 5;
    -fx-border-style: solid;
}

#vBox {
    -fx-background-color: #D8BFD8;
}

#continueButton {
    -fx-font-size: 12pt;
    -fx-text-fill: #271132;
    -fx-background-color: #D8BFD8;
}

#continueButton:focused {
    -fx-border-color: #271132;
    -fx-border-width: 2;
    -fx-border-style: solid;
}

#startButton {
    -fx-font-size: 12pt;
    -fx-text-fill: #271132;
    -fx-background-color: #D8BFD8;
}

#startButton:focused {
    -fx-border-color: #271132;
    -fx-border-width: 2;
    -fx-border-style: solid;
}

#menu {
    -fx-font-size: 16pt;
    -fx-text-fill: #271132;
}

#winer {
    -fx-font-size: 14pt;
}

#countText {
    -fx-font-size: 14pt;
}

#countNumber {
    -fx-font-size: 14pt;
}